<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Panel de Conductor</title>
</head>
<body>

<div class="header">

    <div class="menu-superior">
        <a href="/" class="volver-link">
            🏠 Ver sitio público
        </a>
    </div>

    <div class="titulo">
        ⚙️ Panel de Conductor prueba
    </div>

    <div class="subtitulo">
        Actualización de información de rutas
    </div>

</div>

<div class="fecha-hora">
    Fecha: {{ fecha_actual }} | Hora actual: {{ hora_actual }}
</div>

{% for r in rutas %}

<div class="tarjeta">

<div class="nombre">{{ r.nombre }}</div>

<p class="info">Estado actual: {{ r.estado }}</p>

<form method="POST" action="/actualizar_observacion/{{ r.id }}">

    <p class="info"><b>Observación:</b></p>

    <textarea
        name="observacion"
        rows="3"
        style="width:100%; box-sizing:border-box;"
    >{{ r.observacion }}</textarea>

    <br><br>

    <button type="submit">
        Guardar observación
    </button>

</form>

<p class="info">Horarios:</p>

<div>
    {% for h in r.horarios %}
        <span class="horario">{{ h }}</span>
    {% endfor %}
</div>

<p class="info">Horario vigente: {{ r.tipo_horario }}</p>

<hr>

<p><b>Cambiar estado:</b></p>

<div class="botones-estado">

    <a href="/cambiar_estado/{{ r.id }}/Activa">
        <button class="btn-estado">Activa</button>
    </a>

    <a href="/cambiar_estado/{{ r.id }}/Retrasada">
        <button class="btn-estado">Retrasada</button>
    </a>

    <a href="/cambiar_estado/{{ r.id }}/Suspendida">
        <button class="btn-estado">Suspendida</button>
    </a>

    <a href="/cambiar_estado/{{ r.id }}/Inactiva">
        <button class="btn-estado">Inactiva</button>
    </a>

</div>

</div>

{% endfor %}

</body>
</html>
